apiVersion: apps/v1
kind: Deployment
metadata:
  name: subgen-redis
  namespace: subgen
spec:
  replicas: 1
  selector:
    matchLabels:
      app: subgen-redis
  template:
    metadata:
      labels:
        app: subgen-redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6379
          args: ["--save", "60", "1", "--appendonly", "yes"]
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"